@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@400;500;700;800&display=swap');
@import 'tailwindcss';

body {
    direction: rtl;
    overflow-x: hidden;
    font-family: 'Cairo', 'Tajawal', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1c1917;
}

::-webkit-scrollbar-thumb {
    background: #44403c;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #57534e;
}